<html>
    <head>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        User info below:
        <div>
            <h2><%=user.name%></h2>
            <br/>
            <img src="<%=user.image%>"class="class="img-circle""/>
         
        </div>


    </body>
</html>